.chatbotMain {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 999;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 0;
    transition: opacity 0.3s;
    background-color: blue;
    padding: 1rem;
    color: white;
    border-radius: 100%;

}
.admin {
  display: flex;
}
.admin-items {
  height: 50px;
  width: 50px;
border-radius: 100%;
}
.chatbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  
  max-width: 30px;
  max-height: 30px;
}
.customer {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  font-size: 15px;
}
.customer-items {
  border-radius: 100%;
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.chatbot {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 100%;
  width: 20rem;
  background-color: blue;
}
 .visible {
  display: block;
}
#chat-container {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #input-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  #user-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
  }
  
  #send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  